body {    
 //  font-size:20px;
   color:#555555;
   background-color:#f1f1f1;
   margin-top:40px;
   margin-left:20px;
   margin-right:20px;
   margin-bottom:40px;
}
div.page{
width: 80%;
min-height: 80%;
margin: auto;
background-color: #ffffff;
padding-left: 40px;
padding-bottom: 40px;
padding-top: 40px;
box-shadow: 0px 10px 20px 3px #d3d3d3;
}


a.btn:hover {
background-color: #8aa71D;
color: #ffffff;
border: 1px solid #555555;
}

a.btn {
display: block;
margin: 40px;
background-color: #b8e356;
border: 1px solid #e3e3e3;
padding: 8px;
border-radius: 4px;
font-size: 20px;
font-weight: italic;
color: #555555;
text-decoration: none;
text-shadow:0px 1px 0px #86ae47;
}

user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

p.description{	
	color:#555555;
	margin-left:50px;
}
p.description::first-letter
{
font-size:200%;
color:#555555;
}

li{
	list-style:none;
	
}
