div.result{
	background-color: #ffff80;
}

div.page{
   font-weight: 1.5;
   font-size: 20px;
   max-width: 900px;
}

div.inp{
	margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
	outline: green groove 2px;
	width: 300px;
}

table, td, th {
    border: 1px solid green;	
}